        *{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

@font-face {
  font-family: 'helvetica';
  src: url('Helvetica.ttf');
}

@font-face {
  font-family: 'hover-comicsans';
  src: url('Ldfcomicsans-jj7l.ttf');
}

@font-face {
  font-family: 'pretendard';
  src: url('Pretendard-Regular.otf');
}

span.ml-en {
  font-family: 'helvetica';
}

.whole {
    margin: 0;
}

body {
    font-family: 'pretendard', sans-serif;
    margin: 0px;
    font-size: 13pt;
    line-height: 1.5;
    word-break: keep-all;
}

p, li, td, a, h1, h2, h3, h4 {
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.5;
}

iframe {
    border: 0;
}

.lang-toggle {
  position: fixed;
  top: 10px;
  z-index: 100;
  border: 0;
  padding: 6px 10px;
  font-size: 13pt;
  cursor: pointer;
  font-family: 'helvetica';
}

.lang-toggle:hover {
    font-family: 'hover-comicsans';
    cursor: pointer;
}

.lang-toggle-left {
  left: 10px;
  background: white;
}

.lang-toggle-right {
  right: 10px;
  color: firebrick;
  background-color: #FFFF92;
}

.left {
    position: absolute;
    width: 50%;
    height: 100%;
}

.right {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    overflow-y: scroll;
}

.exkuma {
    background-color: #FFFF92;
    color: firebrick;
}

.content {
    padding: 10px;
}

.kuma-nav {
    text-align: right;
    position: sticky;
    top: 0; 
    background-color: white;
    padding: 10px;
    font-size: 13pt;
}

#kuma-current, #kuma-past, #kuma-resource, #kuma-about, #kuma-collections, #kuma-exhibition, #kuma-people, #kuma-news, #kuma-contact, #exkuma-about, #exkuma-news, #exkuma-logos  {
    border-bottom: 1px gainsboro solid;
    padding-top: 10px;
    padding-bottom: 10px;
    scroll-margin-top: 150px;
}

#exkuma-about, #exkuma-news, #exkuma-logos {
  border-bottom: 1px firebrick solid;
}

#exkuma-news {
  border-top: 1px firebrick solid;
    margin-top: 10px;
}

.firebrick-news {
  color: firebrick;
}

#kuma-collections li {
  position: relative;
  cursor: pointer;
}

.collection-list li {
  position: relative;
  list-style: none;
  margin-bottom: 12px;
  cursor: pointer;
  width: fit-content;
}

.collection-preview {
  display: none;
  position: absolute;
  top: 0;
  left: calc(50%);
  width: 150px !important;
  height: auto;
  background: white;
  z-index: 1000;
}

.collection-list li:hover .collection-preview {
  display: block;
}

.intro {
    margin-top: 10px;
}

p {
    font-size: 13pt;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

a:hover {
    font-family:'hover-comicsans';
    cursor: pointer;
    font-size: 12.3pt;
}

img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.full {
  width: 100vw;
  margin: 0;
  display: block;
  margin-left: calc(-50vw + 50%);
}

table {
    width: 100%;
    line-height: 15.5pt;
    table-layout: fixed;
}

td {
    vertical-align: top;
    white-space: nowrap;       /* 줄바꿈 금지 */
    overflow: hidden;          /* 넘치는 부분 숨김 */
    text-overflow: ellipsis;   /* ... 처리 */
}

.archive-date, .resource-download{
    width: 20%;
}

.archive-tags {
    width: 30%;
}

.tag-active {
    display: inline-block;
    padding: 1px 10px;
    background: black;
    color: white;
    font-size: 14px;
    border-radius: 999px; 
    margin-right: 5px; 
}

.tag {
    display: inline-block;
    padding: 1px 10px;
    font-size: 14px;
    border-radius: 999px; 
    border: 1px solid black;
}

.tag-colored {
  color: #FFFF92;
  background-color: firebrick;
  border: 1px solid firebrick;
}

.tag-color-border {
  border: 1px solid firebrick;
}

.exkuma {
    color: firebrick;
}

.exkuma-nav {
    position: sticky;
    top: 0; 
    padding: 10px;
    background-color: #FFFF92;
    width: 100%;
}

.exkuma-nav a {
  color: firebrick;
}

#exkuma-opencall {
  display: flex;
  flex-direction:column;
  gap: 10px;
/*  border-radius: 44px;*/
  align-items: stretch;
}

.opencall-unit{
margin-top: 10px;
  display:flex;
  gap: 30px;
/*  border-radius:25px;*/
  padding:25px;
  border: 1px firebrick solid;
}

.opencall-image{
  width: 200px;
/*  border-radius:20px;*/
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  border: 1px firebrick solid;
}

.opencall-text{
  flex:1;
}

.exkuma-logos {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
    width: auto;
  height: 80px;
}

.sticker {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  padding: 60px 80px;
  transform: rotate(-4deg);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.10);
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  background-color: #FFFF92;
}

.sticker::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(0,0,0,0.05);
  box-shadow:
    inset 2px 2px 4px rgba(0,0,0,0.15),
    inset -2px -2px 4px rgba(255,255,255,0.5);
}

@media screen and (max-width: 500px) {
    
body {
    overflow-x: hidden;
}

.logo {
    width: auto;
  height: 50px;
}

  .sticker {
        transform: rotate(-4deg) scale(0.5);
        transform-origin: top right;
        box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.10);
    }

}