        *{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

@font-face {
  font-family: 'helvetica';
  src: url('Helvetica.ttf');
}

@font-face {
  font-family: 'hover-comicsans';
  src: url('Ldfcomicsans-jj7l.ttf');
}

@font-face {
  font-family: 'pretendard';
  src: url('Pretendard-Regular.otf');
}

span.ml-en {
  font-family: 'helvetica';
}

.whole {
    margin: 0;
}

body {
    font-family: 'pretendard', sans-serif;
    margin: 10px;
    font-size: 13pt;
}

iframe {
    border: 0;
}


.lang-toggle {
  position: fixed;
  top: 10px;
  z-index: 100;
  border: 0;
  padding: 6px 10px;
  font-size: 13pt;
  cursor: pointer;
  font-family: 'helvetica';
}

.lang-toggle:hover {
    font-family: 'hover-comicsans';
    cursor: pointer;
}

.lang-toggle-left {
  left: 10px;
  background: white;
}

.lang-toggle-right {
  right: 10px;
  color: firebrick;
  background-color: #FFFF92;
}

.left {
    position: absolute;
    width: 50%;
    height: 100%;
}

.right {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    overflow-y: scroll;
}

.exkuma {
    background-color: #FFFF92;
    color: firebrick;
}

.kuma-nav {
    text-align: right;
    position: sticky;
    top: 0; 
    background-color: white;
    padding: 10px;
    font-size: 13pt;
}

#kuma-current, #kuma-past, #kuma-resource, #kuma-about, #kuma-archive, #kuma-people, #kuma-contact, #exkuma-about  {
    border-bottom: 1px gainsboro solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.intro {
    margin-top: 10px;
}

p {
    font-size: 13pt;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

li:first-child {
    margin-top: 15px;
}

li:hover {
    font-family:'hover-comicsans';
    cursor: pointer;
    font-size: 12.5pt;
}

img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    line-height: 15.5pt;
    table-layout: fixed;
}

td {
    vertical-align: top;
    white-space: nowrap;       /* 줄바꿈 금지 */
    overflow: hidden;          /* 넘치는 부분 숨김 */
    text-overflow: ellipsis;   /* ... 처리 */
}

.archive-date, .resource-download{
    width: 20%;
}

.archive-tags {
    width: 30%;
}

.tag-active {
    display: inline-block;
    padding: 1px 10px;
    background: black;
    color: white;
    font-size: 14px;
    border-radius: 999px; 
    margin-right: 5px; 
}

.tag {
    display: inline-block;
    padding: 1px 10px;
    font-size: 14px;
    border-radius: 999px; 
    border: 1px solid black;
}

.exkuma {
    color: firebrick;
}

.exkuma-nav {
    position: sticky;
    top: 0; 
    padding: 10px;
    background-color: #FFFF92;
}

.sticker {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  padding: 60px 80px;
  transform: rotate(-4deg);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.10);
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  background-color: #FFFF92;
}

.sticker::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(0,0,0,0.05);
  box-shadow:
    inset 2px 2px 4px rgba(0,0,0,0.15),
    inset -2px -2px 4px rgba(255,255,255,0.5);
}

@media screen and (max-width: 500px) {
  .sticker {
        transform: rotate(-4deg) scale(0.5);
        transform-origin: top right;
        box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.10);
    }

}